* {
  box-sizing: border-box ;
}

body {
  font-family: 'Inter', sans-serif ;
  margin: 0 ;
  background: rgb(32, 32, 32) ;
}

.header {
  display: flex ;
  position: fixed ;
  left: 0 ;
  right: 0 ;
  top: 0 ;
  align-items: center ;
  background: rgb(20, 20, 20) ;
  padding: 0 20px ;
}

.header h1 {
  color: rgb(97, 219, 251) ;
}

.header--logo {
  width: 60px ;
  margin-right: 10px ;
}

.header--links {
  display: flex ;
  justify-content: space-between ;
  color: rgb(240, 240, 240) ;
  margin-left: auto ;
  width: 180px ;
  font-size: 18px ;
}

.header--links h3 {
  cursor: pointer ;
}

.main {
  margin-top: 90px ;
  color: rgb(255, 255, 255) ;
  padding: 0 80px ;
  text-align: center ;
}

.main--start-button {
  background: rgb(0, 0, 255) ;
  border: none ;
  border-radius: 5px ;
  color: rgb(255, 255, 255) ;
  padding: 20px 40px ;
  font-size: 40px ;
  font-weight: bold ;
  cursor: pointer ;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) ;
}

.quiz {
  width: 100% ;
  background: rgb(255, 255, 255) ;
  color: rgb(0, 0, 0) ;
  border: 2px solid rgb(0, 0, 0) ;
  border-radius: 10px ;
  padding: 10px 0 20px 10px ;
}

.quiz--buttons {
  display: grid ;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 15px ;
  width: 55% ;
  margin: 0 auto ;
}

.quiz--buttons button {
  padding: 12px ;
  font-size: 20px ;
  font-weight: bold ;
  cursor: pointer ;
  border: 1px solid rgb(0, 0, 0) ;
  border-radius: 15px ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) ;
  background: rgba(240, 240, 240, 0.2) ;
}

.quiz--buttons button:active {
  background: rgba(240, 240, 240, 1) ;
}